extends base

block content
  .container
    .jumbotron
      h1 Oops ...
      p
        | You requested an unmatched resource. Maybe you made a typo or
        | you&apos;re not an authorized demo user.
