extends base

block content
  .container
    .jumbotron
      h1 Register yourself to get access to the betaproject.
    .row
      .col-md-offset-4.col-md-4
        +flash
    .row
      .col-md-offset-4.col-md-4
        form.form-horizontal(method='POST' action='#{req.baseUrl}/register')
          .form-group(class={ 'has-error': !!(user.errors || {}).name })
            label.col-sm-3.control-label(for='name') Name
            .col-sm-9
              input.form-control(type='text' name='name' placeholder='Name' value=user.name)
          .form-group(class={ 'has-error': !!(user.errors || {}).email })
            label.col-sm-3.control-label(for='email') Email
            .col-sm-9
              input.form-control(type='email' name='email' placeholder='Email' value=user.email)
          .form-group(class={ 'has-error': !!(user.errors || {}).password })
            label.col-sm-3.control-label(for='password') Password
            .col-sm-9
              input.form-control(type='password' name='password' placeholder='Password')
          .form-group(class={ 'has-error': !!(user.errors || {}).passwordConfirmation })
            label.col-sm-3.control-label(for='passwordConfirmation') Password confirmation
            .col-sm-9
              input.form-control(type='password' name='passwordConfirmation' placeholder='Password confirmation')
          .form-group
            .col-sm-offset-3.col-sm-9
              button.btn.btn-primary(type='submit') Sign up
